.avatar {
  box-shadow: 0 0 2px 2px #cacaca;
}


#nav_avatar {
  margin-top: 7px;
  height: 36px;
  width: 36px;
  margin-left: 10px;
  margin-right: 10px;
}

.member_list_avatar {
  height: 36px;
  width: 36px;
}


#profile_avatar {
  height: 130px;
  width: 130px;
  margin: 10px;
}

.post_sidebar_avatar {
  height: 100px;
  width: 100px;
  margin: auto;
}

.member_stat {
  line-height: 2em;
}
.member_stat_title {
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 150px;
  display: inline-block;
}


#loginformtable > tbody > tr > th,
#loginformtable > tbody > tr > td {
  padding: 0;
  margin: 0;
}
