/**
 * Author : GentleSpoon <me.github@gentlespoon.com>
 *
 * File   :  [HP-Union]
 * Date   : 2018-03-03
 * Time   : 00:09
 */


body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

  padding          : 0;
  margin           : 0;
  background-image : url("/static/image/QuidditchWorldCup.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color            : white;
  text-align       : center;
  height           : 100vh;
  overflow         : hidden;
}


#statusbar {
  padding: 1em 0;
}

.statusbar_item {
}

.conn-A {
  color: #0ff;
}

.conn-B {
  color: #0f0;
}

.conn-C {
  color: #fd0;
}

.conn-D {
  color: #fa0;
}

.conn-E {
  color: #f00;
}

#canvas {
}

#question {
  height      : 20vh;
  line-height : 20vh;
  font-size   : 2rem;
}

.ans {
  font-size        : 1.5rem;
  vertical-align   : center;
  text-align       : center;
  cursor           : pointer;
  border-radius    : 1rem;
  height           : 75vh;
  transition       : background-color 0.3s ease;
  background-color : transparent;
}
.ans:hover {
  transition       : background-color 0.3s ease;
  background-color : rgba(255,255,255,0.5);
}

.gate {

  overflow: hidden;
  display: block;
  line-height: 5rem;
  -moz-border-radius: 50%;
  border-radius: 50%;

  background-color: #4f382f;
  color: white;
  text-align: center;

}

.gatepole {
  width: 2rem;
  height: 100%;
  background-color: #4f382f;
  margin: auto;
  margin-top: -0.5em;
}

#gate1 {
  margin-top: 5rem;
}
#gate2 {
  margin-top: 0;
}
#gate3 {
  margin-top: 10rem;
}
