<div title="#common_header_visual">
  <div id="nav_top">
    <div class="wrapper">

      <?php foreach ($body['nav']['topleft'] as $k => $item) : ?>
        <div class="left nav_item" href="<?=$item['link']?>"><?=$item['name']?></div>
      <?php endforeach ?>
      <?php foreach ($body['nav']['topright'] as $k => $item) : ?>
        <div class="right nav_item" href="<?=$item['link']?>"><?=$item['name']?></div>
      <?php endforeach ?>
    </div>
  </div>


  <div class="wrapper" id="bannerbar">
    <div class="banner">
      <a href="./" title="<?=$settings['sitename']?>"><img src="static/images/banner.png" alt="<?=$settings['sitename']?>"></a>
    </div>
    <div class="userpanel">
      <?php if ( $_SESSION['uid'] == 0 ) : ?>
        <form method="post" autocomplete="off" id="loginform" action="member.php?act=login">
          <table id="loginformtable" celloginformpacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td align="left"><label for="loginform_username"><?=$lang['account']?></label></td>
                <td align="center"><input type="text" name="username" id="loginform_username" autocomplete="off" tabindex="901"></td>
                <td align="center"><a href="member.php?act=register"><?=$lang['register']?></a></td>
              </tr>
              <tr>
                <td align="left"><label for="loginform_password"><?=$lang['password']?></label></td>
                <td align="center"><input type="password" name="password" id="loginform_password" autocomplete="off" tabindex="902"></td>
                <td align="center"><button type="submit" tabindex="903"><?=$lang['login']?></button></td>
              </tr>
            </tbody>
          </table>
        </form>
      <?php endif ?>
      <?php if ( $_SESSION['uid'] > 0 ) : ?>
        <a href="member.php"><img id="nav_avatar" class="avatar" src="<?=$member['avatar']?>" qq="<?=$member['qq']?>" ><?=$member['username']?></a>
        <a href="#">(<?=$member['groupname']?>)</a>
        <a href="member.php?act=modprofile"><?=$lang['modprofile']?></a>
        <a href="member.php?act=modpwd"><?=$lang['modpwd']?></a>
        <a href="member.php?act=logout"><?=$lang['logout']?></a>
      <?php endif ?>
    </div>
  </div>


  <div id="nav_main" class="wrapper">
    <?php foreach ($body['nav']['main'] as $k => $item) : ?>
    <div class="nav_item nav_main_item <?=$item['active']?>"><a href="<?=$item['link']?>" target="<?=$item['target']?>"><?=$item['name']?></a></div>
    <?php endforeach ?>
  </div>

</div>

<div class="wrapper" id="canvas" title="#canvas">
