  </div><!-- end of canvas -->




  <div id="footer" title="#common_footer_visual">
    <div class="wrapper">
      <div class="right col-8">Processed in <?=$_runtime?> second(s)<br><?=$_SERVER['SERVER_SOFTWARE']?><br><?=$_SERVER['HTTP_USER_AGENT']?></div>
      <div class="left col-3"><a href=""><?=$settings['sitename']?></a> ( <a href="https://zh.wikipedia.org/wiki/%E9%98%B2%E7%81%AB%E9%95%BF%E5%9F%8E" target="_blank">FuckGFW</a> )<br> 2012-2017 &copy; HP-Union.com</div>
    </div>
  </div>


  <br><br><br>
