<?php if (isset($body['alert']) and ($body['alert'] != "")) : ?>
<div class="alert <?=$body['alerttype']?>"><?= $body['alert'] ?></div>
<?php endif ?>

<?php if ($_GET['act'] == "forum") : ?>
<div>
  <?php foreach ($body['forum'] as $fk => $forumgroup) : ?>
    <div class="forumgroup">
      <div class="forumgroup-heading">
        <a href="forum.php?act=forum&fid=<?=$forumgroup['fid']?>"><?=$forumgroup['name']?></a>
      </div>
      <div class="forumgroup-body">
        <?php if (empty($forumgroup['subforum'])) : ?>
          <?=$forumgroup['description']?>
        <?php else : ?>
          <?php foreach ($forumgroup['subforum'] as $k => $forum) : ?>
            <div class="forum">
              <div class="forum-heading">
                <a href="forum.php?act=forum&fid=<?=$forum['fid']?>"><?=$forum['name']?></a>
              </div>
              <div class="forum-body">
                <?=$forum['description']?>
              </div>
            </div>
          <?php endforeach ?>
        <?php endif ?>
      </div>
    </div>
  <?php endforeach ?>
</div>
<div>
  <a class="btn btn-primary" href="forum.php?act=newthread&fid=<?=$body['forum'][0]['fid']?>"><?=$lang['new-thread']?></a>
</div>
<div>
  <table class="col-12 table-hover">
    <thead>
      <tr>
        <th><?= $lang['thread-title'] ?></th>
        <th><?= $lang['thread-author'] ?></th>
        <th><?= $lang['thread-sendtime'] ?></th>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($body['threads'] as $k => $v) : ?>
      <tr>
        <th><a href="forum.php?act=thread&tid=<?= $v['tid'] ?>"><?= $v['title'] ?></a></th>
        <th><?= $v['username'] ?></th>
        <th><?= $v['sendtime'] ?></th>
      </tr>
      <?php endforeach ?>
    </tbody>
  </table>
</div>
<?php endif ?>

<?php if ($_GET['act'] == "thread") : ?>
<div>
  <?php foreach ($body['posts'] as $k => $v) : ?>
    <div class="panel panel-default">
      <div class="panel-heading"><?= $v['title'] ?></div>
      <div class="panel-body">
        <?= $v['content'] ?>
      </div>
      <div class="panel-footer"><?= $lang['post-author'] ?>: <?= $v['username'] ?> <?= $lang['post-sendtime'] ?>: <?= $v['sendtime'] ?></div>
    </div>
  <?php endforeach ?>
</div>
<?php endif ?>

<?php if ($_GET['act'] == "newthread") : ?>
  <div>
    <?php if ($_SESSION['uid'] == 0) : ?>
      <?=$lang['not-logged-in']?>
    <?php elseif (isset($_GET['fid'])) : ?>
      <form method="POST" action="forum.php?act=newthread&fid=<?=$_GET['fid']?>" id="newthreadform" class="form-horizontal">
        <div class="form-group">
          <lable for="title" class="col-sm-1 control-label"><?=$lang['new-thread-title']?></lable>
          <div class="col-sm-11">
            <input type="text" name="title" class="form-control" id="title" />
          </div>
        </div>
        <div class="form-group">
          <lable for="content" class="col-sm-1 control-label"><?=$lang['new-thread-content']?></lable>
          <div class="col-sm-11">
            <textarea name="content" class="form-control" id="content" rows="10"></textarea>
          </div>
        </div>
        <input type="submit" class="btn btn-primary" value="<?=$lang['new-thread-send']?>" />
      </form>
    <?php endif ?>
  </div>
<?php endif ?>