<?php if (isset($body['alert']) and ($body['alert'] != "")) : ?>
<div class="alert <?=$body['alerttype']?>"><?= $body['alert'] ?></div>
<?php endif ?>











<?php if ($_GET['act'] == "forum") : ?>
<div>
  <?php foreach ($body['forum'] as $fk => $forumgroup) : ?>
    <div class="forumgroup">
      <div class="forumgroup-heading">
        <a href="forum.php?act=forum&fid=<?=$forumgroup['fid']?>"><?=$forumgroup['name']?></a>
      </div>
      <div class="forumgroup-body">
        <?php if (empty($forumgroup['subforum'])) : ?>
          <?=$forumgroup['description']?>
        <?php else : ?>
          <?php foreach ($forumgroup['subforum'] as $k => $forum) : ?>
            <div class="forum">
              <div class="forum-heading">
                <a href="forum.php?act=forum&fid=<?=$forum['fid']?>"><?=$forum['name']?></a>
              </div>
              <div class="forum-body">
                <?=$forum['description']?>
              </div>
            </div>
          <?php endforeach ?>
        <?php endif ?>
      </div>
    </div>
  <?php endforeach ?>
</div>
<div>
  <a class="btn btn-primary" href="forum.php?act=newthread&fid=<?=$body['forum'][0]['fid']?>"><?=$lang['new-thread']?></a>
</div>
<div>
  <table class="col-sm-12 table-striped" id="threadlist">
    <thead>
      <tr>
        <th class="col-sm-6"><?= $lang['thread-title'] ?></th>
        <th class="col-sm-2"><?= $lang['thread-author'] ?></th>
        <th class="col-sm-2"><?= $lang['thread-sendtime'] ?></th>
        <th class="col-sm-2"><?= $lang['thread-lasttime'] ?></th>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($body['threads'] as $k => $v) : ?>
      <tr>
        <td><a href="forum.php?act=thread&tid=<?= $v['tid'] ?>"><?= $v['title'] ?></a></td>
        <td><?= $v['username'] ?></td>
        <td><?= $v['sendtime'] ?></td>
        <td><?= $v['lasttime'] ?></td>
      </tr>
      <?php endforeach ?>
    </tbody>
  </table>
</div>
<?php endif ?>









<?php if ($_GET['act'] == "thread") : ?>
<div class="thread">
  <table cellspacing=0 class="t_frame col-sm-12">
    <?php foreach ($body['posts'] as $k => $v) : ?>
      <tr class="t_top">
        <td class="t_left t_sendtime col-sm-2">
          <div class="t_inner">
            <?= $v['sendtime'] ?>
          </div>
        </td>
        <td class="t_right t_title col-sm-10">
          <div class="t_inner">
            <?= $v['title'] ?>
          </div>
        </td>
      </tr>
      <tr class="t_bottom">
        <td class="t_left t_author col-sm-2">
          <div class="t_inner">
            <a href="member.php?uid=<?=$v['author_uid']?>"><b><?= $v['username'] ?></b></a><br>
            <img class="post_sidebar_avatar avatar" src="<?=$v['avatar']?>" qq="<?=$v_['qq']?>" uid="<?=$v_['uid']?>">
          </div>
        </td>
        <td class="t_right t_content col-sm-10">
         <div class="t_inner">
           <?= $v['content'] ?>
         </div>
       </td>
      </tr>
    <?php endforeach ?>
  </table>
</div>
  <?php if ($_SESSION['uid'] > 0) : ?>
<div class="thread">
  <form method="POST" action="forum.php?act=newpost&tid=<?=$body['thread']['tid']?>" id="newpostform" class="form-horizontal">
    <table class="t_frame col-sm-12">
      <tr class="t_bottom">
        <td class="t_left t_post col-sm-2">
          <div class="t_inner">
          </div>
        </td>
        <td class="t_right t_content col-sm-10">
          <div class="t_inner">
            <textarea name="content" class="form-control" id="newpostform_content" rows="10"></textarea>
          </div>
        </td>
      </tr>
      <tr>
        <td class="t_left ">
        </td>
        <td class="t_right ">
          <input type="submit" class="btn btn-primary" value="<?=$lang['new-post-send']?>" />
        </td>
      </tr>
    </table>
  </form>
</div>
  <?php endif ?>
<?php endif ?>



















<?php if ($_GET['act'] == "newthread") : ?>
  <div class="thread">
    <?php if ($_SESSION['uid'] == 0) : ?>
      <?=$lang['not-logged-in']?>
    <?php elseif (isset($_GET['fid'])) : ?>
      <form method="POST" action="forum.php?act=newthread&fid=<?=$_GET['fid']?>" id="newthreadform" class="form-horizontal">
        <table class="t_frame col-sm-12">
          <tr class="t_top">
            <td class="t_left t_author col-sm-2">
              <div class="t_inner">
                <lable for="newthreadform_title" class="col-sm-1 control-label"><?=$lang['new-thread-title']?></lable>
              </div>
            </td>
            <td class="t_right t_title col-sm-10">
              <div class="t_inner">
                <input type="text" name="title" class="form-control" id="newthreadform_title" />
              </div>
            </td>
          </tr>
          <tr class="t_bottom">
            <td class="t_left t_author col-sm-2">
              <div class="t_inner">
                <lable for="newthreadform_content" class="col-sm-1 control-label"><?=$lang['new-thread-content']?></lable>
              </div>
            </td>
            <td class="t_right t_content col-sm-10">
              <div class="t_inner">
                <textarea name="content" class="form-control" id="newthreadform_content" rows="10"></textarea>
              </div>
            </td>
          </tr>
          <tr>
            <td class="t_left ">
            </td>
            <td class="t_right ">
              <input type="submit" class="btn btn-primary" value="<?=$lang['new-thread-send']?>" />
            </td>
          </tr>
        </table>
      </form>
    <?php endif ?>
  </div>
<?php endif ?>
