<div>
  <p>网站预计上线时间——2020年7月1日</p>
  <p>_(:з」∠)_忘记密码怎么办？——开发者也没办法，好好回忆吧。</p>
  <p>←_←注册的时候记得填QQ号码←_←我们用的是QQ头像。</p>
  <p>
    下一步做的功能是- - 可能是发帖吧，我也不知道。<br>
    问产品策划 G-Wind (100665179)。
  </p>
  <p>
    你们注册名字写那么长是想干什么？？<br>
    已经修复了！以后最多12个字。
  </p>
  <p>
    可以发贴了，然而我还没做回贴，所以现在只能发不能回复hhhh，预计回贴上线时间是晚上八点前。
  </p>
  <p>
    有用户组了。
  </p>
</div>

<?php if (isset($body['alert']) and ($body['alert']!="")) : ?>
<div class="alert <?=$body['alerttype']?>"><?=$body['alert']?></div>
<?php endif ?>

<?=$body['text']?>

<div>
  <?php foreach ($body['forumlist'] as $k_ => $forumgroup) : ?>
    <div class="forumgroup">
      <div class="forumgroup-heading">
        <a href="forum.php?act=forum&fid=<?=$forumgroup['fid']?>"><?=$forumgroup['name']?></a>
      </div>
      <div class="forumgroup-body">
        <?php foreach ($forumgroup['subforum'] as $k => $forum) : ?>
          <div class="forum">
            <div class="forum-heading">
              <a href="forum.php?act=forum&fid=<?=$forum['fid']?>"><?=$forum['name']?></a>
            </div>
            <div class="forum-body">
              <?=$forum['description']?>
            </div>
          </div>
        <?php endforeach ?>
      </div>
    </div>
  <?php endforeach ?>
</div>

<!--
<div class="forumgroup">
  <div class="forumgroup-heading">
    <?=$lang['registered'].$lang['user']?>
  </div>
  <div class="forumgroup-body">
    <table class="col-sm-12 table-striped">
      <thead>
        <tr>
          <?php foreach ($body['registered'][1] as $k => $v) : ?>
          <th><?=$lang[$k]?></th>
          <?php endforeach ?>
        </tr>
      </thead>
      <tbody>
        <?php foreach ($body['registered'] as $k_ => $v_) : ?>
        <tr>
          <?php foreach ($v_ as $k => $v) : ?>
            <?php if ($k == "avatar") : ?>
              <td><img id="avatar_uid_<?=$v_['uid']?>" class="member_list_avatar avatar" src="<?=$v_['avatar']?>" qq="<?=$v_['qq']?>" uid="<?=$v_['uid']?>"></td>
            <?php elseif ($k == "username") : ?>
              <td><a href="member.php?uid=<?=$v_['uid']?>"><?=$v_['username']?></a></td>
            <?php else : ?>
              <td><?=$v?></td>
            <?php endif ?>
          <?php endforeach ?>
        </tr>
      <?php endforeach ?>
      </tbody>
    </table>
  </div>
</div>

-->
