<div>
  <p><?=$settings['login-welcome']?></p>
</div>

<?php if (isset($body['alert']) and ($body['alert']!="")) : ?>
<div class="alert <?=$body['alerttype']?>"><?=$body['alert']?></div>
<?php endif ?>

<?=$body['text']?>

<div>
  <?php foreach ($body['forumlist'] as $k_ => $forumgroup) : ?>
    <div class="forumgroup">
      <div class="forumgroup-heading">
        <a href="forum.php?act=forum&fid=<?=$forumgroup['fid']?>"><?=$forumgroup['name']?></a>
      </div>
      <div class="forumgroup-body">
        <?php foreach ($forumgroup['subforum'] as $k => $forum) : ?>
          <div class="forum">
            <div class="forum-heading">
              <a href="forum.php?act=forum&fid=<?=$forum['fid']?>"><?=$forum['name']?></a>
            </div>
            <div class="forum-body">
              <?=$forum['description']?>
            </div>
          </div>
        <?php endforeach ?>
      </div>
    </div>
  <?php endforeach ?>
</div>

