  <?php if (isset($body['alert']) and ($body['alert']!="")) : ?>
  <div class="alert <?=$body['alerttype']?>"><?=$body['alert']?></div>
  <?php endif ?>




<?php if ($_GET['act']=="register") : ?>
  <div>
    <form method="POST" action="member.php?act=register" id="regform" class="form-horizontal">
      <div class="form-group">
        <label for="regform_username" class="col-sm-2 control-label"><?=$lang['username']?></label>
        <div class="col-sm-10">
          <input type="text" name="username" value="" id="regform_username" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="regform_password" class="col-sm-2 control-label"><?=$lang['password']?></label>
        <div class="col-sm-10">
          <input type="password" name="password" value="" id="regform_password" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="regform_password2" class="col-sm-2 control-label"><?=$lang['password2']?></label>
        <div class="col-sm-10">
          <input type="password" value="" id="regform_password2" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="regform_qq" class="col-sm-2 control-label">QQ</label>
        <div class="col-sm-10">
          <input type="text" name="qq" value="" id="regform_qq" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-default btn-primary" value="<?=$lang['register']?>">
      </div>
    </form>
  </div>
<?php endif ?>







<?php if ($_GET['act']=="modpwd") : ?>
  <div>
    <form method="POST" action="member.php?act=modpwd" id="modpwdform" class="form-horizontal">
      <div class="form-group">
        <label for="modpwdform_currpwd" class="col-sm-2 control-label"><?=$lang['currpwd']?></label>
        <div class="col-sm-10">
          <input type="password" name="currpwd" value="" id="modpwdform_currpwd" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="modpwdform_password" class="col-sm-2 control-label"><?=$lang['new']?><?=$lang['password']?></label>
        <div class="col-sm-10">
          <input type="password" name="password" value="" id="modpwdform_password" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="modpwdform_password2" class="col-sm-2 control-label"><?=$lang['password2']?></label>
        <div class="col-sm-10">
          <input type="password" value="" id="modpwdform_password2" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-default btn-primary" value="<?=$lang['modpwd']?>">
      </div>
    </form>
  </div>
<?php endif ?>







<?php if ($_GET['act']=="modprofile") : ?>
  <div>
    <form method="POST" action="member.php?act=modprofile" id="modprofileform" class="form-horizontal">
      <?php foreach($member['fields'] as $k => $v) : ?>
      <div class="form-group">
        <label for="modprofileform_<?=$k?>" class="col-2 control-label"><?=$lang[$k]?></label>
        <div class="col-sm-10">
          <input type="text" name="<?=$k?>" value="<?=$v?>" id="modprofileform_currpwd" class="form-control">
        </div>
      </div>
      <?php endforeach ?>
      <div class="form-group">
        <input type="submit" class="btn btn-default btn-primary" value="<?=$lang['submit']?>">
      </div>
    </form>
  </div>
<?php endif ?>






<?php if ($_SESSION['uid'] == 0) : ?>
  <div class="alert alert-danger">
    <?=$lang['not-logged-in']?>
  </div>
<?php elseif (!isset($_GET['act']) || ($_GET['act'] == "")) : ?>
  <div>
    <div class="member_info_section_title"><?=$lang['userinfo']?></div>
    <?php foreach ($body['userinfo'] as $k => $v) : ?>
      <div>
        <span class="member_info member_info_title"><?=$lang[$k]?></span>
        <?php if ($k == "avatar") : ?>
          <span class="member_info"><img id="nav_avatar" class="avatar" src="<?=$v?>" qq="<?=$member['qq']?>" ></span>
        <?php else : ?>
          <span class="member_info"><?=$v?></span>
        <?php endif ?>
      </div>
    <?php endforeach ?>

    <div class="member_info_section_title"><?=$lang['usercount']?></div>
    <?php foreach ($body['usercount'] as $k => $v) : ?>
      <div>
        <span class="member_info member_info_title"><?=$lang[$k]?></span>
        <span class="member_info"><?=$v?></span>
      </div>
    <?php endforeach ?>

    <div class="member_info_section_title"><?=$lang['userperm']?></div>
    <?php foreach ($body['userperm'] as $k => $v) : ?>
      <div>
        <span class="member_info member_info_title"><?=$lang[$k]?></span>
        <span class="member_info">
        <?php if (($k != "groupid") && ($k != "groupname")) : ?>
          <?php if ($v) : ?>
            ✔
          <?php else : ?>
            ✖
          <?php endif ?>
        <?php else : ?>
          <?=$v?>
        <?php endif ?>
        </span>
      </div>
    <?php endforeach ?>

  </div>
<?php endif ?>
