<?php if ($_SESSION['uid'] == 0) : ?>
  <div>
    <form id="loginform" class="userform" method="POST" action="member.php?act=login">
      <?=$lang['member']['username']?>
      <input name="username" value="" id="loginform_username">
      <?=$lang['member']['password']?>
      <input name="password" value="" id="loginform_password">
      <input type="submit" value="<?=$lang['member']['login']?>">
      <a href="member.php?act=register"><?=$lang['member']['register']?></a>
    </form>
  </div>
<?php endif ?>

<?php if ($_SESSION['uid'] > 0) : ?>
  <div>
    <?=$_SESSION['username']?>
    <a href="member.php?act=logout"><?=$lang['member']['logout']?></a>
  </div>
<?php endif ?>

<div>
  <a href="/"><img src="static/images/banner.png"></a>
</div>
