  <div>
    网站预计上线时间——2020年7月1日<br>
    _(:з」∠)_忘记密码怎么办？——开发者也没办法，好好回忆吧。<br>
    ←_←注册的时候记得填QQ号码←_←我们用的是QQ头像。<br>
    下一步做的功能是- - 可能是发帖吧，我也不知道。<br>
    问产品策划 G-Wind (100665179)。
  </div>

  <?=$body['text']?>

  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><?=$lang['avatar']?></th>
          <?php foreach ($body['registered'][0] as $k => $v) : ?>
          <th><?=$lang[$k]?></th>
          <?php endforeach ?>
        </tr>
      </thead>
      <tbody>
        <?php foreach ($body['registered'] as $k_ => $v_) : ?>
        <tr>
          <td><img id="avatar_uid_<?=$v_['uid']?>" class="member_list_avatar avatar" src="" qq="<?=$v_['qq']?>"></td>
        <?php foreach ($v_ as $k => $v) : ?>
          <td><?=$v?></td>
        <?php endforeach ?>
        </tr>
      <?php endforeach ?>
      </tbody>
    </table>
  </div>
